body{
    margin:0;
    font-family: Arial,sans-serif;
}
header{
    background-color: #222;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    animation: drop 1s;
}
@keyframes drop{
    from{
        margin-top: -50px;
    }
    to{
        margin-top: 0;
    }
}
header a{
    color: white;
    margin-left: 15px;
    text-decoration: none;
}
.hero{
    background-color: #f2f2f2;
    padding: 80px 20px;
    text-align: center;
}
.hero h2{
    animation: fade 2s;
}
.hero p{
    animation: fade 2.5s;
}
@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.hero button{
    margin-top: 20px;
    padding: 10px 25px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.hero button:hover {
    background-color: #444;
}


.services {
    padding: 50px;
    text-align: center;
}

.service-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}


.card {
    background-color: #e6e6e6;
    padding: 20px;
    width: 180px;
    transition: 0.3s;
}

.card:hover {
    background-color: #dcdcdc;
}


.about, .contact {
    background-color: #f7f7f7;
    padding: 40px 20px;
    text-align: center;
}


footer {
    background-color: #222;
    color: white;
    padding: 15px;
    text-align: center;
}


@media (max-width: 768px) {
    .service-box {
        flex-direction: column;
    }
}
